* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

div {
  position: center;
}

section {
  border: 1px solid black;
  border-radius: 3px;
  margin: 15px;
  padding: 5px;
}

iframe {
  width: 100%;
  height:600px;
  position: absolute;
  top:60px;
}

div,
div:hover,
div:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  margin-top:10px;
}

.title-container {
  display:flex;
  flex-position:row;
  position:fixed;
  width:100%;
  background-color:white;
  z-index:100;
  padding-left:10px;
}

.title-container h3 {
  border-bottom: 1px solid gray;
  margin: 15px 20px;
  width: 100%;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2b2a28;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #242321;
}

#sidebar ul li div {
  padding: 13px;
  font-size: 1.1em;
  display: block;
  margin: 0px;
}

#sidebar ul li div:hover {
  color: #5e5d5b;
  background: #fff;
  cursor: pointer;
}

#sidebar ul li.active>div {
  color: #fff;
  background: #5e5d5b;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
main {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

main.active {
  width: 100%;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  main {
    width: 100%;
  }

  main.active {
    width: calc(100% - 250px);
  }

  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
