<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Me</title>
  <link rel="stylesheet" href="../css/cardstyle.css">
</head>


<body>
  <div class="container-fluid">
    <div class="box">
      <h4>About Me</h4>
      <div class="box-content">
        <li>Hello! I'm newbie software engineer with experience less than a year</li>
        <li>I've worked on low level starting from binary to high level web-page</li>
        <li>Interested in signal, data, and robot</li>
        <li>Also interested in stock, arts and music</li>
        <li>Believe the power of prudence, dilligence and collaboration</li>
      </div>
    </div>
    <div class="box">
      <h4>Education</h4>
      <div class="box-content">
        <li>POSTECH (2015.03 ~ 2020.08) <br>
        Bachelor of Computer Science Engineering</li>
      </div>
    </div>
    <div class="box">
      <h4>Contact</h4>
      <div class="box-content">
        <li>jisoooo97@gmail.com</li>
      </div>
    </div>
  </div>
</body>
</html>
