<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Me</title>
  <link rel="stylesheet" href="../css/cardstyle.css">
</head>


<body>
  <div class="container-fluid">
    <div class="box">
      <h4>Introduction</h4>
      <div class="box-content">
        <li>Hello! I'm a young software engineer with some experience</li>
        <li>I've worked on projects ranging from binary coding to web applications</li>
        <li>Interested in signals, data, and robotics</li>
        <li>Also interested in stocks, arts and music</li>
        <li>Believe in the power of prudence, diligence and collaboration</li>
      </div>
    </div>
    <div class="box">
      <h4>Education</h4>
      <div class="box-content">
        <li>POSTECH (2015.03 ~ 2020.08) <br>
        Bachelor of Computer Science Engineering</li>
      </div>
    </div>
    <div class="box">
      <h4>Contact</h4>
      <div class="box-content">
        <li>jisoooo97@gmail.com</li>
      </div>
    </div>
  </div>
</body>
</html>
