<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Project</title>
  <link rel="stylesheet" href="../css/cardstyle.css">
</head>


<body>
  <div class="container-fluid">
    <div class="project-list">
      <div class="project-box">
        <h4 class="project-name">Factory Kim - Coupon Book [2022.10 – 2022.01 (4 months)]</h4>
        <div class="project-description">
          <p>Coupon Book is an Android mobile application that allows users to create personalized coupons with their name printed on them. 
            Users can choose the design as well as the theme of the content. Users can download and share the final coupon they entered their name on. 
            Coupon Book also provides guidelines for getting started with the application.
            <a href="https://play.google.com/store/apps/details?id=com.factorykim.coupon&hl=ko&gl=US">Go to Coupon Book in the Play Store</a>
          </p>
          <div class="box">
            <h4>Development Environment</h4>
            <div class="box-content">
              <li>Android Studio</li>
              <li>Kotlin 1.6.10</li>
              <li>Target SDK 32</li>
            </div>
          </div>
        </div>
      </div>
      <div class="project-box">
        <h4 class="project-name">Factory Kim - Beer App [2022.08 – 2020.09 (2 months)]</h4>
        <div class="project-description">
          <p>Beer App is animated simulation of beer in the glass. Accelerometer in the phone is used to calculated the movement of liquid.
            User can lower the height of the liquid by dragging slider bar top on the screen.
            <a href="https://play.google.com/store/apps/details?id=org.godotengine.beer&hl=ko&gl=US">Go to Coupon Book in the Play Store</a>
          </p>
          <div class="box">
            <h4>Development Environment</h4>
            <div class="box-content">
              <li>Godot 3.5</li>
            </div>
          </div>
            <h4>Description</h4>
            <div class="box-content">
              <li>Categorized each survey page</li>
              <li>Auto answering the questions on page with macro based on Selenium</li>
              <li>Print the code as final product</li>
            </div>
          </div>
        </div>
      </div>
      <div class="project-box">
        <h4 class="project-name">BurgerKing Auto Survey [2020.01 – 2020.01 (1 month)]</h4>
        <div class="project-description">
          <p>Burger King experience survey site (kor.tellburgerking.com) allows customers to respond to survey questions about
            specific Burger King branches. Users can start a survey with the code given on receipts. When finished answering all
            the questions, a final code appears, which can be used with receipt to get a free meal upgrade.
          </p>
          <div class="box">
            <h4>Development Environment</h4>
            <div class="box-content">
              <li>Python 3.7.3</li>
              <li>Selenium 3.141.0</li>
            </div>
          </div>
            <h4>Description</h4>
            <div class="box-content">
              <li>Categorized each survey page</li>
              <li>Auto answering the questions on page with macro based on Selenium</li>
              <li>Print the code as final product</li>
            </div>
          </div>
        </div>
      </div>
      <div class="project-box">
        <h4 class="project-name">BULK(Rhythm Game) [2019.12 – 2020.01 (2 months)]</h4>
        <div class="project-description">
          <p>Rhythm game where users can earn high scores based on keyboard gameplay. Music selection and difficulty
            selection are possible.</p>
          <div class="box">
            <h4>Development Environment</h4>
            <div class="box-content">
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JS(ES6)</li>
            </div>
          </div>
            <h4>Description</h4>
            <div class="box-content">
              <li>Pattern creation based on music and difficulty</li>
              <li>Image creation based on pattern</li>
              <li>Dropping animation</li>
              <li>Keyboard event handling and score updating</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
