<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Skills</title>
  <link rel="stylesheet" href="../css/cardstyle.css">
</head>


<body>
  <div class="container-fluid">
    <div class="box">
      <h4>Embeded</h4>
      <div class="box-content">
        <li>C99 (Familiar)</li>
        <li>C++11 (Familiar)</li>
        <li>ROS2 (Experienced)</li>
      </div>
    </div>
    <div class="box">
      <h4>Front-End</h4>
      <div class="box-content">
        <li>HTML5   (Experienced) </li>
        <li>CSS3    (Experienced)</li>
        <li>JS(ES6) (Experienced)</li>
      </div>
    </div>
    <div class="box">
      <h4>Back-End</h4>
      <div class="box-content">
        <li>Node.js (Experienced)</li>
        <li>mariaDB (Experienced)</li>
      </div>
    </div>
    <div class="box">
      <h4>OS</h4>
      <div class="box-content">
        <li>Linux-Ubuntu (Familiar)</li>
        <li>Window (Familiar)</li>
      </div>
    </div>
    <div class="box">
      <h4>Test</h4>
      <div class="box-content">
        <li>gtest (Familiar)</li>
      </div>
    </div>
    <div class="box">
      <h4>Etc</h4>
      <div class="box-content">
        <li>Python (Familiar)</li>
      </div>
    </div>
  </div>
</body>
</html>
