<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Skills</title>
  <link rel="stylesheet" href="../css/cardstyle.css">
</head>


<body>
  <div class="container-fluid">
    <div class="box">
      <h4>Front-End</h4>
      <div class="box-content">
        <li>Swift5 (Familiar)
        <li>JS(ES6) (Experienced)</li>
      </div>
    </div>
    <div class="box">
      <h4>Embedded</h4>
      <div class="box-content">
        <li>C99     (Familiar)</li>
        <li>C++11   (Experienced)</li>
        <li>ROS2    (Experienced)</li>
      </div>
    </div>
    <div class="box">
      <h4>Back-End</h4>
      <div class="box-content">
        <li>Node.js (Experienced)</li>
        <li>mariaDB (Experienced)</li>
      </div>
    </div>
    <div class="box">
      <h4>OS</h4>
      <div class="box-content">
        <li>Linux-Ubuntu (Familiar)</li>
      </div>
    </div>
    <div class="box">
      <h4>Etc</h4>
      <div class="box-content">
        <li>Python (Familiar)</li>
        <li>Test Driven Development - Unit Test, Integration Test</li>
        <li>Agile</li>
      </div>
    </div>
  </div>
</body>
</html>
