<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Work</title>
  <link rel="stylesheet" href="../css/cardstyle.css">
</head>


<body>
  <div class="container-fluid">
    <div class="company-box">
      <div class="company-title">
        <h3>LINE Plus, South Korea - Full Time</h3>
        <h5>iOS Software Engineer (VoIP)</h5>
        <h5>2022.07 - Current</h5>
      </div>
      <div class="company-content">
        <div class="project-box">
          <h4 class="project-name">Self Check feature for Call [2022.08 – 2022.10 (2 months)]</h4>
          <div class="project-description">
            <p>Self-identification of cameras and audio devices for calling. 
              The device will start the test and the software will display the appropriate result based on the stream detected by the hardware.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>Swift 5</li>
                  <li>Xcode</li>
                  <li>Code Review</li>
                  <li>Confluence</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>on going</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-box">
      <div class="company-title">
        <h3>GE Appliances, South Korea - Full Time</h3>
        <h5>Embedded Software Engineer (Edison program)</h5>
        <h5>2021.06 - Current</h5>
      </div>
      <div class="company-content">
        <div class="project-box">
          <h4 class="project-name">7th Hackathon-JOJO [2022.06 – 2022.06 (1 month)]</h4>
          <div class="project-img">
            <img src="../img/jojo.png" alt="">
          </div>
          <div class="project-description">
            <p>JOJO, a plant gardening robot. JOJO monitors the moisture, light and PH levels of your plants. A camera mounted on JOJO helps users view video of plants through a mobile application. 2nd place out of 7 teams in the hackathon.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>Arduino Mega 2560 / Wifi ESP 8266</li>
                  <li>Raspberry Pi 3</li>
                  <li>C</li>
                  <li>HTTP</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>Live streaming of video using Raspberry Pi</li>
                  <li>Overall architecture design</li>
                  <li>Worked on humidity, and PH sensors in with Arduino</li>
              </div>
            </div>
          </div>
        </div>
        <div class="project-box">
          <h4 class="project-name">Washer (Laundry Team) [2022.01 – 2022.07(7 months)]</h4>
          <div class="project-description">
            <p>Home laundry machine: Front load washer and Top load washer. Worked on adding some feature or fixing bug of existing models.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                <li>C / C++</li>
                <li>Lua</li>
                <li>Test Driven Development</li>
                <li>Agile with biweekly sprints planning</li>
                <li>Confluence</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                <li>Improved the new feature for washer including stain removal and adaptive washing</li>
                <li>Fixed the bug of exsting features</li>
                <li>Design and Implementation of stain removal feature</li>
                <li>PR Review, unit test and integration test was done</li>
              </div>
            </div>
          </div>
        </div>
        <div class="project-box">
          <h4 class="project-name">6th Hackathon-POPO [2021.11 – 2021.12 (2 months)]</h4>
          <div class="project-description">
            <p>Home monitoring robot POPO. POPO moves around house and transmits the video of home and appliances using the camera top of it.
              Users can control the POPO movements / camera position and home appliances through the mobile app. Worked as a team leader and robotic software engineer.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>Arduino Mega 2560 / Wifi ESP 8266</li>
                  <li>C</li>
                  <li>HTTP</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>Requested server for signal using HTTP</li>
                  <li>Received stream data from server and parsed it into robot command</li>
                  <li>Controlled the motors based on command, moving the robot / camera</li>
                  <li>Close work with hardware(Plastic body, DC / Servo / Step Motor, Motor Driver)</li>
              </div>
            </div>
          </div>
        </div>
        <div class="project-box">
          <h4 class="project-name">Sprout Refrigerator (Refer Team) [2021.06 – 2021.12 (6 months)]</h4>
          <div class="project-description">
            <p>Home hydroponic machine(Indoor gardening appliances). Design and implementation of system. The plants grow inside the device, and the machine controls water, light while monitoring the status of their growth.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>C / C++</li>
                  <li>Lua</li>
                  <li>Test Driven Development</li>
                  <li>Agile with biweekly sprints planning</li>
                  <li>Confluence</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>There is a column with 3 different sections(a.k.a tower) inside the machine where users grow plants</li>
                  <li>The tower rotates once in a while automatically or through user control</li>
                  <li>Mainly improved the rotation speed of tower without changing of hardware</li>
                  <li>Design and Implementation of tower related modules</li>
                  <li>PR Review, unit test and integration test was done</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-box">
      <div class="company-title">
        <h3>Wayties Inc. - Full Time</h3>
        <h5>Cooperative Autonomous Vehicle</h5>
        <h5>2020.08 - 2021.03 (8 Months)</h5>
      </div>
      <div class="company-content">
        <div class="project-box">
          <h4 class="project-name">WX Board [2020.12 – 2021.03 (4 months)]</h4>
          <div class="project-description">
            <p>Vehicle to everything (V2X) communication stack protocol message encoding / decoding.
              Worked with OMG IDL, IEEE 1609.3, 1609.2 and SAE J2735 messages.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>C++11, C99</li>
                  <li>SAE J2735, SAE J2945, IEEE 1609.2, IEEE 1609.3</li>
                  <li>ASN1, IDL</li>
                  <li>gtest, CMake</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>Encode / Decode IEEE 1609.2 Security Message with mandatory field filled</li>
                  <li>Encode / Decode IEEE 1609.3 WSMP Message with mandatory field filled</li>
                  <li>Encode / Decode SAE J2735 message set(15 in total)</li>
                  <li>Used gtest for testing</li>
                  <li>Code review through pull request</li>
                  <li>Agile develop was pursued</li>
              </div>
            </div>
          </div>
        </div>
        <div class="project-box">
          <h4 class="project-name">Traffic Signal Controller Simulator [2020.08 – 2020.11 (4 months)]</h4>
          <div class="project-img">
            <img src="../img/traffic_controller.PNG" alt="">
          </div>
          <div class="project-description">
            <p>Project main leader and developer. Web application / node.js
            based simulator of traffic signal controller for product testing. The simulated signal routed through
            DDS and parsed into MAP and SPaT of SAE J2735.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>Node.js, HTML5, CSS3, JS(ES6)</li>
                  <li>C++11</li>
                  <li>ROS2-dashing, Fast-DDS generator, Fast-DDS, Python3, C++</li>
                  <li>SAE J2735- SPAT, MAP</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>Signal Simulator : Web-based UI tool generating signal plan</li>
                  <li>Signal Generator : node.js server generating binary stream every 1s, based on signal plan</li>
                  <li>Binary2Topic Parser : C++ program parsing binary data to ROS2 topic</li>
                  <li>SPaT Parser : ROS2 pkg subscribing general signal data, publishing SPaT topic</li>
                  <li>MAP Parser : ROS2 pkg subscribing general signal data, publishing MAP topic</li>
                  <li>JSON Parser : ROS2 pkg subscribing general signal data, sending JSON data through websocket</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="company-box">
      <div class="company-title">
        <h3>Naver Corp - Student Internship</h3>
        <h5>Digital Contents & Audio Platform</h5>
        <h5>2017.07 - 2017.08 (2 Months)</h5>
      </div>
      <div class="company-content">
        <div class="project-box">
          <h4 class="project-name">Audio Shortcut [2017.07 - 2017.08 (2 months)]</h4>
          <div class="project-description">
            <p>Web server application allowing users to pick discontinuous parts in an audio and
              images. The final product is video of audio, images and subtitles, which users can download.
            </p>
            <div class="box">
              <h4>Development Environment</h4>
              <div class="box-content">
                  <li>Node.js, mariaDB</li>
                  <li>HTML, CSS, JS</li>
                  <li>FFMPEG</li>
              </div>
            </div>
            <div class="box">
              <h4>Description</h4>
              <div class="box-content">
                  <li>Users pick discontinous parts of audio and images from website</li>
                  <li>The server will add up all the parts of user picked, into video</li>
                  <li>User can download video from website as a final product</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
